/* navbar */
.navi {
    background-color: #43599a !important;
    height: 5rem;
}
.antonFont {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navIcon{
font-size: 1.5rem;
display: flex;
background-color: transparent;
border: none;
}
/* TODO:fix the hover on the icons */
.navIcon :hover{
    display: none;
}
/* about page */
.about {
    text-align: justify;
    margin-left: 100px;
    li {
        margin-bottom: 10px;
    }
}

.userIcon {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(80, 235, 240);
    position: relative;
}

.userIcon p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.4rem;
}

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
}
